th {
  background-color: green;
  color: white;
  text-align: left;
}
tr:nth-child(even) {
  background-color: gray;
}
table,
th,
td {
  border: 1px solid lightslategray;
  border-collapse: collapse;
  height: 30px;
  margin-left: 50px;
  margin-top: 50px;
  padding: 10px;
}
